.header {
  position: relative;
  left: 0px;
  right: 0px;
  display: block;
  height: 90px;
  margin: 0px;
  font-size: 16px;
  font-family: "Open Sans";
  font-weight: bold;
  text-transform: uppercase; 
  color: rgb(12, 46, 59); 
}

.menu {
    position: absolute;
    display: inline-block;
    transition: 0.3s;
    height: 90px;
    width: 580px;
    margin: 0px auto;
    left: 0px;
    right: 0px;
}

.menu-item {
    display: inline-block;
    transition: 0.3s;
    margin: 30px  10px;
    cursor: pointer;
    text-decoration: none;
    color: rgb(12, 46, 59);

    &:hover {
        color: rgba(250, 192, 18,1); 
    }
}
.logo {
    position: relative;
    display: inline-table;
    padding: 14px;
    overflow: hidden; 
    float: left;
    cursor: default;
    z-index: 3;
}
.logo-sub-text {
    display: inline-block;
    line-height: 1.2;
    margin-left: -23px;  
}

@media only screen and (max-width: 800px) {
    .header {
        padding: 0px;
        width: 100%;
    }

    .menu {
        position: absolute;
        margin: 0px;
        left: initial;
        right: 0px;
        width: 160px;
        right: 0px;
        z-index: 2;
        background-color: #fff;
        overflow: hidden;

        .menu-toggle {
            position: relative;
            width: 40px;
            height: 90px;
            margin: 0px auto;
            cursor: pointer;

            &:after {
                content: "";
                display: block;
                position: absolute;
                transition: 0.3s;
                width: 0px;
                height: 0px;
                bottom: 0px;
                left: -60px;
            }

            &:hover span {
                transition: 0.3s;
                background: rgb(250, 192, 18);

                &::before,
                &::after {
                    transition: 0.3s;
                    background: rgb(250, 192, 18);
                }
            }
        }

        .menu-toggle span {
            display: block;
            position: relative;
            top: 42px;
            left: 0px;
            right: 0px;
            height: 6px;
            width: 40px;
            background: rgb(12, 46, 59);

            &::before,
            &::after {
                position: absolute;
                display: block;
                left: 0;
                width: 100%;
                height: 6px;
                background-color: rgb(12, 46, 59);
                content: "";
            }

            &::before {
                top: -10px;
            }

            &::after {
                bottom: -10px;
            }
        }

        .menu-item {
            width: 140px;
            margin: 10px;
            background-color: #fff;
        }   
    }

    .active {
        height: 300px;
    }

    .active .menu-toggle  {

        &:after {
            width: 160px;
            border-bottom: 1px solid rgb(250, 192, 18);
        }
    }


}
