@import "./header";

@import "./footer";

@import "./ecran1";

@import "./ecran2";

@import "./ecran3";

@import "./ecran4";

@import "./ecran5";

@import "./ecran6";

@import "./ecran7";

@import "./ecran8";

body {
    position: relative;
    transition: 0.3s;
    margin: 0px;
    overflow-x: hidden;
}
